---
import LayoutMain from "../layouts/LayoutMain.astro";
import RingText from "components/RingText.astro";
---

<LayoutMain>
	<section class='section-hero'>
		<h1>—a meaningful effort in crafting creative solutions leveraging technology.</h1>

		<p>We are a group of software craftsman that firmly believe that everything can be done better—thus always seeking to improve ourselves and the elements we deliver.</p>
	</section>

	<div class="section-keep-scrolling">
		<RingText identifier="keep-scrolling">keep scrolling——keep scrolling——keep scrolling——</RingText>
	</div>
</LayoutMain>

<style>
	.section-hero {
		@apply flex flex-col;
		@apply gap-2 md:gap-4 lg:gap-8;
	}

	.section-hero > h1 {
		@apply font-600 text-green-01 ;
		@apply text-3xl md:text-5xl lg:text-7xl;
	}

	.section-hero > p {
		@apply max-w-4xl;
		@apply text-base md:text-lg lg:text-xl;
	}

	.section-keep-scrolling {
		@apply flex justify-center;
	}
</style>
