---
import Link from "components/Link.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Archivo:wght@300;600;900&display=swap"
			rel="stylesheet"
		/>
		<title>The Dot.to</title>
	</head>

	<body>
		<div class="layout-container">
			<header class="layout-header">
				<h3>the dot.to</h3>

				<nav>
					<Link route="INDEX">Index</Link>
				</nav>
			</header>

			<div class="layout-content">
				<slot />
			</div>

			<footer class="layout-footer">
				<h4>the dot.to</h4>
			</footer>
		</div>
	</body>
</html>

<style>
  html {
    @apply text-base bg-white-01 text-black font-default font-300;
  }

  .layout-container {
    @apply h-screen w-screen grid grid-cols-1;
		@apply py-4 lg:py-8 px-8 lg:px-16 gap-2 lg:gap-4;
    grid-template-rows: auto 1fr auto;
  }

  .layout-container > .layout-header {
    @apply flex justify-between border-b border-b-green-01 sticky;
		@apply pb-2 lg:pb-4;
  }

  .layout-header > h3 {
    @apply text-green-01 font-900;
		@apply text-lg md:text-xl lg:text-2xl;
  }

  .layout-header > nav {
    @apply flex items-center;
		@apply gap-4 lg:gap-8;
  }

  .layout-container > .layout-footer {
    @apply border-t border-t-green-01 flex items-start;
		@apply pt-2 lg:pt-4;
  }

  .layout-footer > h4 {
    @apply text-green-01 font-900;
		@apply text-4xl md:text-6xl lg:text-8xl;
  }
</style>
